<header class="site-header">
    <div class="header-mobile">
        <div class="site-width">
            <div class="site-header-inner clearfix">
                <div class="header-container">
                    <a href="#" title="mobile menu" class="button-mobile-menu">
                        <span class="fa fa-bars"></span>
                    </a>
                    <a href="#" class="site-logo"><img src="../assets/images/alt_logo.png" alt="Alt One" />
                    </a>
                    <nav class="navigation">
                        <ul class="list-reset bar-navigation">
                            <li class=""><a href="#" title="home"><span class="fa fa-home mobile-only"></span>Home</a>
                            </li>
                            <li><a href="package.html" title="Package"><span class="fa fa-home mobile-only"></span>Package</a>
                            </li>
                            <li class="open active">
                                <a href="forms.html" class="dropdown-toggle" data-toggle="dropdown" title="Forms">
                                    <span class="fa fa-headphones mobile-only"></span>Forms
                                </a>

                            </li>
                            <li>
                                <a href="class.html" class="dropdown-toggle" data-toggle="dropdown" title="Class">
                                    <span class="fa fa-print mobile-only"></span>Class
                                </a>

                            </li>


                            <li class="nav-mobile mobile-only">
                                <form>
                                    <label for="searchMobile" class="sr-only">Search mobile</label>
                                    <button class="fa search-btn fa-search" type="submit" value="Search Btton"></button>
                                    <input type="text" class="form-control" id="searchMobile" placeholder="search" />
                                </form>
                            </li>
                            <li class="nav-mobile mobile-only">
                                <span class="powered-by-alt">powered by alt recruit</span>
                            </li>
                        </ul>

                    </nav>

                </div>
                <div class="header-right">
                    <div class="header-right-inner clearfix">
                        <div class="profile-block">
                            <div class="profile-img"><img src="../assets/images/profile_main.jpg" alt="my profile" />
                            </div>
                            <span class="crown"><span class="fa fa-star"></span></span>
                        </div>
                        <div class="options-block">
                            <div class="option-cell task-cell">
                                <a href="#" title="Task">
                                    <span class="fa fa-suitcase"></span>
                                    <span class="notification">191</span>
                                    <span class="option-text">Task</span>
                                </a>
                            </div>
                            <div class="option-cell">
                                <a href="#" title="my jobs">
                                    <span class="fa fa-refresh"></span>
                                    <span class="option-text">my jobs</span>
                                </a>
                            </div>
                            <div class="option-cell">
                                <a href="#" title="downloads">
                                    <span class="fa fa-download"></span>
                                    <span class="option-text">downloads</span>
                                </a>
                            </div>
                            <div class="option-cell more-click">
                                <a href="#" title="more">
                                    <span class="fa fa-ellipsis-h"></span>
                                    <span class="option-text">more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="more-options list-reset">
                        <li><a href="#"><span class="fa fa-home"></span>My profile</a>
                        </li>
                        <li><a href="#"><span class="fa fa-home"></span>reward my team</a>
                        </li>
                        <li><a href="#"><span class="fa fa-home"></span>My applications</a>
                        </li>
                        <li><a href="#"><span class="fa fa-home"></span>My referrals</a>
                        </li>
                        <li><a href="#"><span class="fa fa-home"></span>My downloads</a>
                        </li>
                        <li><a href="#"><span class="fa fa-home"></span>Switch</a>
                        </li>
                        <li><a href="#"><span class="fa fa-home"></span>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- \\ End Site Header -->
<div class="layout-main layout-right-sidebar">
    <div class="site-width">
        <div class="main-container">
            <div class="container-inner">
                <div class="render-wrap">
                    <div id="frmb-0-form-wrap" class="form-wrap form-builder">
                        <sample1></sample1>
                        <df></df>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>