<div>
    <table>
        <tr>
            <th *ngFor="let meta of header">
                {{meta}}
            </th>
        </tr>
        <tr *ngFor="let item of data">
            <td *ngFor="let meta of header">
                {{item[meta]}}
            </td>
        </tr>
    </table>
</div>
<div>
    <select (change)="getDataAndUpdateUI()" [(ngModel)]="length">
        <option *ngFor="let item of lengthList" ng-value="item.value">{{item.key}}</option>
    </select>
    <button (click)="previous()"><</button>
    <button (click)="next()">></button>
</div>